section {
    height: 70vh;
    width: 60vw;
    margin: 10px auto;
    padding: 10px;
    background-color: blanchedalmond;
}

h2 {
    font-size: 5rem;
    text-align: center;
}

@media screen and (max-width:800px) {
    h2 {
        font-size: 3rem;
        color: aqua;
    }

}

@media screen and (max-width:500px) {
    h2{
        color: chocolate;
        font-size: 20px;
    }
}