body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    border-top: 6px solid black;
    border-right: 6px solid darkgray;
    border-bottom: 6px solid lightgray;
    border-left: 6px solid white;
    height: 300px;
    width: 300px;
    background-color: aqua;
    border-radius: 50%;
    animation-name: slider;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes slider {
    100% {
        transform: rotateX(260deg);
    }

}