h1{
    border: 2px solid black;
    text-align: center;
    background-color: rgb(200, 138, 158);
    /* color: aqua; */
}

h3{
    border: 1PX solid black;
    background-color: palegoldenrod;
}

.one{
    font-size: 30px;
    background-color: lightpink;
}

.two{
    font-size: 20px;
    background-color: lightcoral;
}

.three{
    font-size: 20px;
    background-color: lightcyan;
    /* font: 4000000; */
}

div:nth-of-type(3){
    border: 1px solid black;
    font-size: 29px;
    background-color: rgb(25, 105, 101);
    padding: 3px auto;
}

ul li:nth-of-type(odd){
    background-color: palegreen;
}

article{
    border: 4px solid black;
    background-color: rgb(108, 181, 226);
    height: 30vh;
    width: 50vw;
    margin: 30px;
    padding: 10px;
    display: block;   
}


article:nth-of-type(2){
    border: 4px solid black;
    background-color: rgb(108, 181, 226);
    height: 30vh;
    width: 50vw;
    margin: 30px;
    padding: 10px;
    display: inline-block;
}
