* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    border: 2px solid rgb(32, 7, 7);
    background-color: #caffbf;
    position: fixed;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 10px;
    font-size: 24px;
    display: flex;
    padding: 10px;
    margin-left: 90px;
}

nav ul a {
    text-decoration: none;
    color: black;

}

.search {
    width: 200px;
    border-radius: 8%;
}

p{
    border: 1px solid black;
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin-top: 1rem;
}










section {
    height: 90vh;
    width: 90vw;
    border: 2px solid black;
}

section div {
    background-color: lightgray;
    border: 2px solid black;

}